@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}
/*
 :root {
    --cor-fundo: #0f0601;
    --cor-texto: #dbba89;
    --cor-footer: #3b2314;
    --cor-links-cabecalho: #846846;
} 
*/

/* :root {
    --cor-fundo: #454d2c;
    --cor-texto: #FFF0D1;
    --cor-footer: #1E201E;
    --cor-links-cabecalho: #C0C78C;
} */
 
:root {
    --cor-fundo: #2a1515; 
    --cor-texto: #F5E1DA;
    --cor-footer: #5e4141; 
    --cor-links-cabecalho: #ffd6d0;
    --cor-h2: #ffc8c0;
    --cor-caixa-texto:#553a3a;
}

body {
    
    width: 100%;
    height: 100vh;
    min-height: 100vh; /* define a altura mínima do elemento como 100% da altura da viewport */
    box-sizing: border-box;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.cabecalho {
    width: 100%;
    margin-right: 3rem;
    box-sizing: border-box;
    padding: 1.3%;
    display: flex;
    justify-content: right;
    gap: 30px;
    color: var(--cor-links-cabecalho);
    letter-spacing: 1.5px;
}

.links-cabecalho {
    color: var(--cor-links-cabecalho);
    text-decoration: none;
    font-size: 1.2rem;
}

h1 {
    width: 100%;
    margin-top: 0.5rem;
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    display: flex;
    font-size: 1.9rem;
    color: var(--cor-texto);
    justify-content: center;
    background-color: var(--cor-footer);
}

h2 {
    display: flex;
    text-align: center;
    font-size: 1.1rem;
    flex-direction: column;
    letter-spacing: 0.1rem;
    color: var(--cor-h2);
    font-style: italic;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-top: -1px;
    flex: 1; /* Faz o main crescer e ocupar o espaço disponível */ 
}

section {
    width: 48.5%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    letter-spacing: 1.3px;
    margin-top: 0rem;
    justify-content: center;
}

.descricao {
    width: 100%;
    text-align: justify;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.80rem;
    display: flex;
    padding: 1.1rem;
    background-color: var(--cor-caixa-texto);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
}

h4 {
    font-size: 1rem;
    flex-direction: column;
    letter-spacing: 0.1rem;
    color: var(--cor-h2);
}

.links-contato {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.link1-contato {
    width: 50%;
    padding: 5% 7%;
    text-decoration: none;
    font-size: 1.1rem;
    border: 2px solid hsla(4, 100%, 90%, 0.63);
    color: var(--cor-texto);
    border-radius: 13px;
    margin-left: -3px;
}

.link2-contato {
    width: 50%;
    padding: 5% 9%;
    text-decoration: none;
    font-size: 1.1rem;
    border: 2px solid hsla(4, 100%, 90%, 0.63);
    color: var(--cor-texto);
    border-radius: 13px;
}

a:hover {
    background-color: #ffb1ba1d;
}

img {
    width: 15rem;
    margin-top: -1.7rem;
    border-radius: 900px;
}

.foto-e-icones {
    width: 260px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 15px;
    padding: 4px 0px;
    background-color: #654545;
    border-radius: 23px;
    justify-items: center;
    align-items: center;
}

.frase-cima-icones {
    font-size: 1rem;
    font-weight: 520;
    flex-direction: column;
    letter-spacing: 0.6px;
    color: var(--cor-links-cabecalho);
    margin-top: -3px;
}

.icones {
    width: 200px;
    height: 45px;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    border-radius: 0px;
    justify-content: center;
    margin-top: 5px;
}

#cada-icone {
    width: 35px;
    height: 60px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    border-radius: 0px;
    justify-content: center;
}

footer {
    width: 100%;
    padding: 9px 0px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--cor-texto);
    background-color: var(--cor-footer);
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    align-items: center;
}


@media (max-width: 1200px) {

    .cabecalho {
        padding: 15px 0.6px;
        box-sizing: border-box;
    }

    .links-cabecalho {
        font-size: 1.1rem;
        gap: 30px;
    }

    h1 {
        font-size: 1.7rem;
        font-weight: 500;
        letter-spacing: normal;
    }

    h2 {
        display: flex;
        text-align: center;
        margin-top: -55px;
    }

    body {
        width: 100%;
        height: 100%;
    }
    
    .foto-e-icones {
        margin-top: 75px;
        width: 240px;
        padding-right: 1px;
    }

    img {
        width: 13.5rem;
    }

    main {
        width: 100%;
        height: 90%;
        flex-direction: column-reverse;
    }

    section {
        width: 80%;
        height: 70%;
        margin-top: -4px;
        margin-bottom: 105px;
    }
    
    .descricao {
        width: 90%;
        height: 50%;
        font-size: 0.9rem;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 25px 25px;
    }

    .links-contato {
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    
    .link1-contato {
        width: 50%;
        font-size: 1.1rem;
    }

    .link2-contato {
        width: 50%;
        font-size: 1.1rem;
    }

    footer {
        padding: auto;
        font-size: 0.8rem;
    }

}